@using Microsoft.AspNetCore.SignalR.Client
@using WasmTwoWayLogging.Client.Library
@inject DebugService DebugService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="server-console">Server Console: @_hubConnection?.State</div>

@code {
    private HubConnection? _hubConnection;

    private async Task OnReceiveLogEvent(string logMessage)
    {
        await DebugService.HandleLogFromServer(logMessage);        
    } 

    protected override async void OnInitialized()
    {                
        _hubConnection = new HubConnectionBuilder()
            .WithUrl($"{NavigationManager.BaseUri}hubs/logging")
            .WithAutomaticReconnect(new InfiniteRetryPolicy())
            .Build();

        _hubConnection.On<string>("Log", OnReceiveLogEvent);        
        await _hubConnection.StartAsync();
    }

    public void Dispose()
    {                
        if (_hubConnection != null)
        {            
            try
            {             
                _hubConnection.StopAsync();
                _hubConnection.DisposeAsync();
                _hubConnection = null;
            } catch (Exception ex)
            {
                Logger.Log.Error(ex);
            } finally
            {
                _hubConnection = null;
            }
        }
    }
}
